<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html" />
    <title>E-Commerce J. Sansó</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="w-full h-screen bg-gradient-to-b from-black to-gray-700">
    <div class="max-w-[1240px] mx-auto px-4">
      <nav class="h-[80px] w-full flex items-center justify-between text-white">
        <a href="/">
          <h1 class="text-xl font-bold text-white">E-Commerce J. Sansó</h1>
        </a>

        <ul
          class="flex items-center gap-x-5 font-semibold text-lg text-gray-400 text-white"
        >
          <li
            class="capitalize hover:text-white hover:scale-105 duration-300 cursor-pointer"
          >
            <a href="/register" class="text-white">register</a>
          </li>
        </ul>
      </nav>

      <section class="py-4 w-full">
        <div class="w-[650px] mx-auto text-center">
          <h3 class="text-3xl text-white font-semibold italic">Log In</h3>

          <form action="/login" method="POST" class="py-6">
            <div class="flex justify-center items-center gap-x-4 py-4">
              <label class="text-white w-[70px]">Username</label>
              <input class="py-1 px-2" type="text" name="username" />
            </div>

            <div class="flex justify-center items-center gap-x-4 py-4">
              <label class="text-white w-[70px]">Password</label>
              <input
                id="inputPass"
                class="py-1 px-2"
                type="password"
                name="password"
              />
            </div>

            <!-- Parrafo para mostrar los errores -->
            <% if (error) { %>
            <p class="py-2 text-red-500 italic text-xl font-semibold">
              Usuario o contraseña incorrecta
            </p>
            <% } %>

            <div class="flex flex-col items-center justify-center">
              <input
                type="submit"
                value="Login"
                class="mt-4 py-2 bg-gray-600 hover:bg-gray-400 hover:shadow-lg hover:shadow-black duration-300 w-[300px] text-white rounded-md text-xl"
              />
              <!-- <a href="/auth/google" class="mt-4 py-2 bg-gray-600 hover:bg-gray-400 hover:shadow-lg hover:shadow-black duration-300 w-[300px] text-white rounded-md text-xl">Login with Google</a> -->
            </div>
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
