<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html" />
    <title>E-commerce J Sansó</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="w-full h-screen bg-gradient-to-b from-black to-gray-700">
    <div class="max-w-[1350px] mx-auto px-4">
      <nav class="h-[80px] w-full flex items-center justify-between text-white">
        <ul
          class="flex items-center gap-x-5 font-semibold text-lg text-gray-400"
        >
          <li
            class="capitalize hover:text-white hover:scale-105 duration-300 cursor-pointer"
          >
            <a href="/">dashboard</a>
          </li>
          <li
            class="capitalize hover:text-white hover:scale-105 duration-300 cursor-pointer"
          >
            <a href="/logout">logout</a>
          </li>
        </ul>
      </nav>

      <section class="py-4 w-full">
        <div class="w-[650px] mx-auto">
          <h3 class="text-3xl italic text-white">Bienvenido a tu Dashboard</h3>

          <a style="color: white" href="/productos">productos</a>
        </div>
      </section>
      <div>
        <div>
          <h1 style="color: white">Cargar productos</h1>
          <br />
        </div>
        <form action="/products" method="post" enctype="multipart/form-data">
          <div class="inputContainer">
            <input type="text" name="title" placeholder="Title" />
            <br /><br />
            <input type="number" name="price" placeholder="Price" />
            <br /><br />
            <input type="file" name="thumbnail" />
            <br /><br />
          </div>
          <div class="text-white">
            <button type="submit">Guardar producto en catalogo</button>
          </div>
        </form>
      </div>
    </div>

    <script src="dashboard.js"></script>
  </body>
</html>
